@*@page "/temp"
@inject HttpClient client

<h1>Data</h1>

@if (InfoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (cardView)
    {
        <ImageCards InfoList="@InfoList" />
    }
    else
    {
        <ImageList InfoList="@InfoList" />
    }

    <div class="pt-4">
        <button onclick="@SwitchView">@(cardView ? "Switch to List" : "Switch to Card")</button>
        <button onclick="@ShowHideJson">@(String.IsNullOrWhiteSpace(visibleJson) ? "Show" : "Hide") Json</button>
    </div>

    <p class="pt-4">
        @visibleJson
    </p>
}

@functions {

        Info[] InfoList;
        string jsonText;
        string visibleJson;
        bool cardView = true;

protected override async Task OnInitAsync()
    {
        try
        {
            var httpResponse = await client.GetAsync($"http://localhost:7071/api/GetData");
            jsonText = await httpResponse.Content.ReadAsStringAsync();
            InfoList = JsonConvert.DeserializeObject<Info>(jsonText);

        }
        catch (Exception ex)
        {
            //RegisteredFunction.Invoke<bool>("consoleLog", ex);
        }
    }

    protected void ShowHideJson()
    {
        visibleJson = String.IsNullOrWhiteSpace(visibleJson) ? jsonText : String.Empty;
    }

    protected void SwitchView()
    {
        cardView = !cardView;
    }


}*@


