@page "/ticket"
@inherits TicketModel

<h1>Support Requests</h1>

<ErrorAlert Error=@Error />

@if (ticketEntities == null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-group">
                        <label for="ticket-name" class="col-form-label">Full Name:</label>
                        <input type="text" class="form-control" bind="@ticket.FullName" />
                    </div>
                    <div class="form-group">
                        <label for="ticket-email" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" bind="@ticket.Email" />
                    </div>
                    <div class="form-group">
                        <label for="ticket-description" class="col-form-label">Description:</label>
                        <textarea class="form-control"
                                  cols="20"
                                  id="Contact.Description"
                                  name="Contact.Description"
                                  rows="2" bind="@ticket.Description"></textarea>
                    </div>
                    <button class="btn btn-default" onclick="@(async () => await CreateTicket())">Save</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <table class='table'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Full Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in ticketEntities)
                {
                    <tr>
                        <td>@ticket.Id</td>
                        <td>@ticket.Date</td>
                        <td>@ticket.FullName</td>
                        <td>@ticket.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Error)
{
    <div class="modal" role="dialog" tabindex="-1" style="display: block;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Opps - Content Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="@(() => OnErrorAlertClosed())">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Looks like we found something in the message you just sent!</h3>
                    <h3> Below is a list of personally identifiable data or custom terms we detected</h3>
                    <section>
                        <article>
                            @if (errorResult.EmailDetected != "none")
                            {
                                <section>We found the following email addresses:</section>
                                <section>Email Found: @errorResult.EmailDetected</section>
                                <section>From text: @errorResult.EmailText</section>
                            }
                        </article>
                        <article>
                            @if (errorResult.Term != "none")
                            {
                                <section>We found the following custom terms:</section>
                                <section>Custom Term Found: @errorResult.Term</section>
                            }
                        </article>
                    </section>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="@(() => OnErrorAlertClosed())">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>
}